services:
  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: bookmarks
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "15432:5432"

volumes:
  postgres_data:
